body{
    background: linear-gradient(rgb(252, 183, 93), rgb(205, 27, 21));
}

header{
    width: 100%;
}

h1{
    font-size: 30px;
    font-weight: bold;
    margin: 1em 0;
}

#cuadroPokedex{
    width: 80%;
    margin: 0 auto;
}

#buscador{
    text-align: center;
    margin: 3em 0;
}

form input{
    width: 20%;
    height: 25px;
}

form button{
    width: 6em;
    height: 2em;
    font-size: 15px;
    font-weight: bold;
}

#render{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.carta{
    display: inline-block;
    text-align: center;
    width: 20%;    
    margin: 2% 1.5%;
    padding: 2% 2%;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
    background-color: rgb(112, 223, 248);
}

.carta h3{
    font-size: 30px;
    font-weight: bold;
}

.carta img{
    height: auto;
    padding: 5%;
}

.datos li{
    padding: 2%;
    font-size: 20px;
}

.datos button{
    margin: 10%;;
    width: 6em;
    height: 2em;
    font-size: 18px;
    font-weight: bold;
}

/* Configuración de la ventana modal */
.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
}

.modalContainer{
    margin: auto;
    width: 40%;
    max-width: 600px;
    max-height: 90%;
    background-color: #fff;
    border-radius: 6px;
    padding: 2% 3%;
    display: grid;
    /*gap: 1em;*/
    place-items: center;
    grid-auto-columns: 100%;
}

.modalTittle{
    font-size: 2.5rem;
}

.modalParrafo{
    margin-bottom: 10px;
}

.modalImage{
    width: 50%;
    max-width: 170px;
}

.modalClose{
    text-decoration: none;
    color: #fff;
    background-color: #F26250;
    padding: 1em 2em;
    border: 1px solid;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    transition: background-color 3s;
}

.modalClose:hover{
    color: #F26250;
    background-color: #fff;
}

.modal--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
}


@media screen and (max-width:480px){
    form input{
        width: 40%;
        height: 25px;
    }

    .carta{
        width: auto;
    }

    .carta h3{
        font-size: 20px;
        font-weight: bold;
    }
    
    .datos li{
        padding: 1%;
        font-size: 16px;
    }

    .datos button{
        margin: 10%;;
        width: 4em;
        height: 2em;
        font-size: 18px;
        font-weight: bold;
    }
}